html {
  font-family: verdana;
  height: 100%;
  font-size: 2em;
  background: linear-gradient(160deg,pink,purple);
}
#title { 
  font-family: Great Vibes; 
  font-size:4em; 
}

#under_const{
  background: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.05)),url("../images/beach.jfif");
  background-position: center;
  width: 75%;
  margin: auto;
  border-radius: 1em;
}
.text-centered{text-align: center}
.div-centered{margin: auto;}
.img-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
    font-family: 'tabitha'; /*a name to be used later*/
    src: url('../fonts/tabitha.ttf'); /*URL to font*/
}

.cover_image{
   width: 17em;
   rotate: 5deg;
   border-radius: 1.5%;
}

.darkened{
   filter: brightness(20%);
}
.card_banner{
  font-family: 'tabitha';
  font-size:1.8em;
}

footer {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.1);
  text-align: center;
}
    .footer-container{
      width:30%;
}